<% content_for :title, "group chat messages" %>
<div class="container-scroolbar white" id="messages-container">
  <ul class="timeline">
    <% if @group.messages %> <% @group.messages.each do |message| %>

    <li>
      <p class="string optional">
        <%= message.user.email.split("@")[0] %>
      </p>
      <small
        class="time-offset-display float-right"
        data-created-at="<%= message.created_at.iso8601 %>"
      ></small>
      <h5>'<%= message.subject %>'</h5>
    </li>
    <% end %> <% end %>
  </ul>
</div>
<%= simple_form_for [current_user, @group, @message] do |f| %>
  <%= f.input :subject, class: "col-sm-10" %> <%= f.submit ">>", class: "btn btn-info" %>
<% end %>

<%= link_to "I am hidden", refresh_messages_path(group_id: @group.id), remote: true, method: 'GET', id: "secret-btn", style: 'visibility: hidden; height: 0px; display: block' %>

<% content_for :after_js do %>
  <script>
    const secretBtn = document.getElementById("secret-btn");
    const interval = setInterval(function() {
      const chat = document.querySelector("#messages-container");
      // method to be executed;

      secretBtn.click();
      chat.scrollBy(0, 1000);
    }, 3000);
  </script>
<% end %>

