<div class="row justify-content-center">
  <div class="col-sm-6">

    <div class="container my-5 px-0 z-depth-1">

      <!--Section: Content-->
      <section class="p-5 my-md-5 text-center"
      style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1511306404404-ad607bd7c601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);background-size: cover;background-position: center center;">
      <div class="row form-header">
        <div class="col-md-6 mx-auto">

          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }%>
            <%= f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-success" %>
          </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
