<!--<p><%= journey_match.inspect %></p>-->
<% if group %>

<p>you have a match with an existing group</p>
there are <%= pluralize(group.users.count, 'person') %>
going to <%= group.start_location.address.split(',')[0] %>
from <%= group.end_location.address.split(',')[0] %>
at <%= group.start_at.strftime('%A, %b %d') %>

<%= link_to "Search again?", 'javascript:void(0)', class: "btn btn-block btn-primary trigger-find-journey" %>
<%= link_to "Join group", group_journeys_path(group), class: "btn btn-block btn-success", style: 'min-width: 136px', method: "POST" %>

<% else %>

No group found
<%= link_to "Search again?", 'javascript:void(0)', class: "btn btn-block btn-primary trigger-find-journey" %>
<%= submit_tag "Create group", class: "btn btn-block btn-success", style: 'min-width: 136px' %>

<% end %>
