<div class="banner-journey">

  <div class="banner-content text-center">
    <h1>Trip Matches</h1>

    <p>

      <%= simple_form_for @journey_match do |f| %>
      <%= f.input :departure_address, input_html: { class: 'algolia-address' } %>
      <%= f.input :destination_address, input_html: { class: 'algolia-address' } %>
      <%= f.input :start_hour, collection: 0..23 %>
      <%= f.input :start_minute, collection: [0, 30] %>
      <%= f.submit "Match", class: "btn btn-lg btn-primary" %>
      <% end %>

    </p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.17.1"></script>
<script type="text/javascript">
  document.querySelectorAll('.algolia-address').forEach((field) => {
    places({
      appId: 'plKNZFGE3Z4R',
      apiKey: '82a5e9380dac1c2b344041331f5842d9',
      container: field
    })
  });
</script>