<div class="row justify-content-center">
  <div class="col-sm-6">
    <h1>Group</h1>
     <%= simple_form_for @group do |form| %>

      <%= form.simple_fields_for @group do |group| %>

        <%= group.input :start_at, as: :time, :minute_step => 30 %>
        <%= group.input :start_location %>
        <%= group.input :end_location %>
      <% end %>

      <%= form.submit class: "btn-primary" %>
     <% end %>
  </div>
</div>
