<% content_for :title, "group show page" %>
<div class="mb-3" id="map" style="width: 100%; height: 176px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="container px-5">
  <dl>
    <dt>from</dt>
    <dd><%=  @group.start_location.address %></dd>
    <dt>to</dt>
    <dd><%=  @group.end_location.address %></dd>
    <dt>at</dt>
    <dd><%= @group.start_at.strftime('%l:%M%p') %> <strong>in <%= distance_of_time_in_words(@group.start_at, Time.current - @group.journeys.last.time_zone.hours) %></strong></dd>
  </dl>
  <p><%= pluralize(@group.journeys.count, 'person') %> going on this trip</p>

  <p>
    <%= link_to "Share with a friend", 'javascript:void(0)', id: 'link', class: "btn btn-block btn-outline-primary"%>
  </p>
  <% if @journey.present? %>
    <p>
      <%= link_to "Chat with other members", user_group_messages_path(current_user, current_user.journeys.last.group), class: "btn btn-block btn-outline-primary"%>
    </p>
    <p>
      <%= link_to "leave group", user_journey_path(current_user, @journey), class: "btn btn-block btn-outline-danger", method: "DELETE", :data => {:confirm => 'Are you sure?'} %>
    </p>
  <% else %>
    <p>
      <%= link_to "Join group", group_journeys_path(@group), class: "btn btn-block btn-success", method: "POST" %>
    </p>
  <% end %>
</div>
