<% content_for :title, "all pending groups" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="banner-content text-center">
        <h1><%= current_user.email.split("@")[0] %></h1>
        <p>
          <% if current_user.upcoming_journey? %>
            <% next_journey = current_user.journeys.last %>
            <h4>You have a trip</h4>
            <h4>
              <%= pluralize(next_journey.group.users.count - 1, 'person') %>
              going with you
              to
              <%= link_to next_journey.group.end_location.address,user_group_path(current_user, current_user.journeys.last.group) %>
              in <%= distance_of_time_in_words(Time.current - next_journey.time_zone.hours, next_journey.group.start_at) %>
              - <%= (next_journey.group.start_at).strftime('%l:%M%p') %>
            </h4>
            <div>
              <p>your next journeys</p>
              <% current_user.current_journeys.each do |journey| %>
                <h6>JOURNEY</h6>
                <%= pluralize(journey.group.users.count - 1, 'person') %>
                going with you
                to <%= link_to journey.group.end_location.address,user_group_path(current_user, journey.group) %>
                <%= (journey.group.start_at).strftime('%l:%M%p') %>
              <% end %>
            </div>
          <% else %>
            <h4>You don't have a trip</h4>
            <p>Why don't you create one</p>
            <%= link_to 'Create a trip', new_journey_match_path, class: "btn btn-lg btn-primary" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
