<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="banner-content text-center">
      <h1><%= current_user.email.split("@")[0] %></h1>

      <!-- TODO: user instance method to check for incoming journey -->
      <% if current_user.upcoming_journey? %>
      <% next_journey = current_user.journeys.last %>
      <h4>You have a trip</h4>
      <p>
        <%= pluralize(next_journey.group.users.count - 1, 'person') %>
        going with you
        to <%= link_to next_journey.group.end_location.address,'#' %>
        in <%= distance_of_time_in_words(Time.now, next_journey.group.start_at) %>
        - <%= next_journey.group.start_at.localtime.strftime('%l:%M%p') %>
      </p>
      <% else %>
      <h4>You don't have a trip</h4>
      <p>Why don't you create one</p>
      <%= link_to 'Create a trip', new_journey_match_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


