<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <% if current_page?(root_path) %>
        <a class="nav-link active " href="/">MoveWithMe</a>
        <% else %>
        <a class="nav-link" href="/">MoveWithMe</a>
        <% end %>
      </li>
      <% if !user_signed_in? %>
      <li class="nav-item">
        <% if current_page?(new_user_session_path) %>
        <%= link_to "Log in", new_user_session_path, class: "nav-link active" %>
        <% else %>
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <% else %>
      <% if current_page?(current_user) %>
      <li class="nav-item">
        <%= link_to "Groups", current_user, class: "nav-link active" %>
        <% else %>
        <%= link_to "Groups", current_user, class: "nav-link" %>
        <% end %>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</header>