<h1>Journeys#new</h1>
<p>Find me in app/views/journeys/new.html.erb</p>
 <%= simple_form_for @journey do |form| %>

  <%= form.simple_fields_for @journey.group do |group| %>
    <%= group.input :start_at %>
    <%= group.input :end_location %>
  <% end %>

  <%= form.submit %>
 <% end %>
